<%- include('header') -%>
    <form method="post" action="/form">
        <label for="name">Heiti flokks:</label>
        <input type="text" id="name" name="name">
        <label for="svar">Svör:</label>
        <input type="text" id="svar" name="name">
        <input type="text" id="svar" name="name">
        <input type="text" id="svar" name="name">
        <input type="text" id="svar" name="name">
        <label for="rettsvar">Rétt svar:</label>
        <label>1<input type="radio" id="rettsvar" name="name" value="1"></label>
        <label>2<input type="radio" id="rettsvar" name="name" value="2"></label>
        <label>3<input type="radio" id="rettsvar" name="name" value="3"></label>
        <label>4<input type="radio" id="rettsvar" name="name" value="4"></label>
        
        <button type="submit">Búa til flokk</button>

    </form>
<%- include('footer') -%>